{% load static %}
<!doctype html>


<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="{% static 'main.min.css' %}">
    <title>{% block title%}{% endblock %}</title>
</head>

<body>

    {% include 'core/partials/nav.html' %}


    {% if messages %}
    <div class="py-4 px-4">
        {% for message in messages %}
        <div class="px-3 py-3 bg-teal-300 text-white">
            {{message}}
        </div>
        {% endfor %}
    </div>

    {% endif %}


    {% block content %}
    {% endblock %}

    

    {% include 'core/partials/footer.html' %}

    
</body>

</html>