{% extends 'core/base.html' %}

{% block title %}
{{lead.name}} Details
{% endblock %}
{% block content %}
<div class="px-3 py-6">
    <h1 class="text-xl mb-3">{{lead.name}}</h1>


    {% if lead.description %}
    <p class="font-semibold">Description</p>
    <p class="mb-2">{{lead.description}}</p>
    {% endif %}

    <p class="font-semibold">Priority</p>
    <p class="mb-2">{{lead.get_priority_display}}</p>

    <p class="font-semibold">Status</p>
    <p class="mb-2">{{lead.get_status_display}}</p>

    <p class="font-semibold">Created at</p>
    <p class="mb-2">{{lead.created_at|date:"d/m/y (D) h:i"}}</p>

    <p class="font-semibold">Modified at</p>
    <p class="mb-6">{{lead.modified_at}}</p>

    <hr class="my-4">


    <a class=" py-3 px-3 ml-3 rounded-xl bg-blue-500" href="{% url 'leads_convert' lead.id %}">Convert to Client</a>
    <a class=" py-3 px-3 ml-3 rounded-xl bg-green-500" href="{% url 'leads_edit' lead.id %}">Edit this Lead</a>
    <a class=" py-3 px-3 ml-3 rounded-xl bg-red-300" href="{% url 'leads_delete' lead.id %}">Delete this Lead</a>

    <hr class="my-4">






    <a class=" py-3 px-5 bg-yellow-200" href="{% url 'leads_list'%}"> Back to Leads</a>

</div>
{% endblock %}