{% extends 'core/base.html' %}

{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class="py-6 px-6">
    <h1 class="text-xl mb-6">Dashboard</h1>
    <div class="flex space-x-4">
        <div class="w-1/2  px-4 py-6  bg-teal-100  rounded-xl leads">
            <h2 class="text-lg mb-3 underline">Newest Leads</h2>
            {% for lead in leads %}
            <div class="mb-4 lead">
                <h3 class="font-semibold">{{lead.name}}</h3>
                <p class="text-xs">Status:{{lead.get_status_display}}</p>
                <p class="text-xs">Priority:{{lead.get_priority_display}}</p>
                <a href="{% url 'leads_detail' lead.id %}" class="text-xs">Detail</a>
            </div>
            {% endfor %}
        </div>

        <div class="w-1/2 px-4 py-6 bg-teal-100 rounded-xl  clients">
            <h2 class="text-lg mb-3 underline">Newest Clients</h2>
            {% for client in clients %}
            <div class="mb-4 client">
                <h3 class="font-semibold">{{client.name}}</h3>
                <a href="{% url 'clients_detail' client.id %}" class="text-xs">Detail</a>
            </div>
            {% endfor %}
        </div>




    </div>
</div>

{% endblock %}